@using AtlasBlog.Services.Interfaces
@model IEnumerable<AtlasBlog.Models.BlogPost>

@inject IImageService _imageService

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            @* <th> *@
            @*     @Html.DisplayNameFor(model => model.Slug) *@
            @* </th> *@
            <th>
                @* image *@
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Abstract)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BlogPostState)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Body)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Created)
            </th>
            @* <th> *@
            @*     @Html.DisplayNameFor(model => model.Updated) *@
            @* </th> *@
            <th>
                @Html.DisplayNameFor(model => model.Blog)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            @* <td> *@
            @*     @Html.DisplayFor(modelItem => item.Slug) *@
            @* </td> *@
            <td>
                @* image *@
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Abstract)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BlogPostState)
            </td>
            <td>
                @* @Html.DisplayFor(modelItem => item.Body) *@
                @Html.Raw(item.Body)
            </td>
            <td>
                @* @Html.DisplayFor(modelItem => item.Created) *@
                @item.Created.ToString("MMM dd, yyyy")
            </td>
            @* <td> *@
            @*     @Html.DisplayFor(modelItem => item.Updated) *@
            @* </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.Blog.BlogName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-slug="@item.Slug">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
